body {
    background-color: #ffe8d6;
    font-family: 'Nunito', sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: #ddbea9;
}

#mainNavbar .nav-link:hover {
    color: #7f5539;
}

#mainNavbar .navbar-brand {
    color: #7f5539;
    font-size: 1.5rem;
}

#headingGroup {
    color: #ddbea9;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 3.5rem ;
}

#headingGroup span {
    color: #7f5539;
}

.blurb h2 {
    color: #7f5539;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #ddbea9;
    font-weight: 100;
    font-size: 1.125;
    line-height: 2;
}

.content {
    margin-bottom: 100px;
}

@media (max-width: 1300px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 2.75rem ;
    } 
}
